  .header{
    background-color: rgb(206, 233, 235);
    min-height: 50px;
    max-height: 60px;
    display: flex;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 12px 12px; 
    padding: 10px; 
  }
  .header_div{
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .header_p{
    display: flex;
    margin-right: 5px;
    font-size: 25px;
    color: rgb(37, 150, 190);
    margin-bottom: 5px;
  }
  .fullscreen_div{
    display: flex;
    background-color: rgb(231, 239, 240);
    position: fixed;
    width: 100%;
    height: 100%;
    /* left: 8%; 
    width: calc(100% - 16%); */
}
  .div_one{
    width: 10%;
  }
  .div_two{
    width: 80%;
  }
  .div_three{
    width: 10%;
  }