.header{
    background-color: rgb(206, 233, 235);
    min-height: 50px;
    display: flex;
  }
  .header-img{
    padding: 5px;
    width: 60px;
  }
  .header-div{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
  }
  .header-p{
    margin: 0!important;
    font-size: 35px;
    color: rgb(37, 150, 190);
  }