  .header-log{
    background-color: rgb(206, 233, 235);
    min-height: 50px;
    display: flex;
  }
  .header-img-log{
    padding: 5px;
    width: 60px;
  }
  .header-div-log{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
  }
  .header-p-log{
    margin: 0!important;
    font-size: 35px;
    color: rgb(37, 150, 190);
  }
  .main-div-log{
    width: 100%;
    height: 100%;
    background-color: rgb(231, 247, 246);
    display: flex;
  }
  .submit-log{
    width: 65px;
    height: 65px;
    padding: 10px;
  }
  