.img-prof{
    border-radius: 50%;
    padding: 5px;
    width: 250px;
    height: 250px;
}
.icon-container-prof {
    position: relative;
}
.main-div-prof{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
}
.frst-div-prof{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon-div-prof{
    width: 100%;
    height: 300px;
    margin-right: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.text-div-prof {
    display: flex;
    flex-direction: column;
}
.icon-text-container-prof{
    display: flex;
    align-items: center;
}
